<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 style="text-align: center;">IG Priv</h1>
          </div>
  
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <section class="content">
  
          <div class="col-md-18">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#profile" data-toggle="tab">Profil</a></li>
  
                </ul>
              </div>
  
              <div class="card-body">
                <form action="/accounts" method="post" class="form-horizontal" enctype="application/x-www-form-urlencoded">
                  <div class="input-group input-group-sm mb-0">
                    <select id="action" name="action">
                      <option value="like">Like</option>
                      <option value="follow">Follow</option>
                      <option value="save">Save</option>
                    </select>
                    <input name="link" class="form-control form-control-sm" placeholder="Link">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
                <hr>
                <center>
                  <div id="google_translate_element"></div>
                  <script type="text/javascript">
                    function googleTranslateElementInit() {
                      new google.translate.TranslateElement({ pageLanguage: 'tr' }, 'google_translate_element');
                    }
                  </script>
                </center>
                <div class="tab-content">
  
                  <div class="tab-pane active" id="profile">
  
                  
                    </div>
                  </div>
                  
                </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  
    </section>
  