<br><br>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
        
        <h1 class="post-title">Announcements</h1>
        

       
      

    
    <p>We are thrilled to announce the publication of the first issue of <em>"Current Trends in Computing (CTC)"</em> journal. This groundbreaking edition marks the advent of a new platform for researchers to explore and disseminate cutting-edge research in the field of computer science.</p>
    <h2>Current Issue: Vol. 1 No. 1 (2023)</h2>

    <br><br><br><br>
    <div class="post-preview">
        <a href="publicationOfFirst.html">
            <h3 class="post-title"  > <a href="publicationOfFirst.html" style="font-size: 25px;">Publication of the first issue</a></h3>

        </a>
        <span class="icon-container">
            <i class="fas fa-calendar calendar-icon"></i>
            <a href="#">2023-07-19</a>
        </span>
           
            
          
        <div>
        <p>We are thrilled to announce the publication of the first issue of "Current Trends in Computing
            (CTC)" journal. This groundbreaking edition marks the advent of a new platform for researchers
            to explore and disseminate cutting-edge research in the field of computing.
        </p>
        <a href="publicationOfFirst.html" style="color: blue;">Read More   ></a>

    </div>
         
    </div>
    

       </div>
    </div>
</div>

      <br><br><br>


    


    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
               
                <div class="right">
                <h2>Language</h2>
                <a href="#" style="color:blue;">English</a><br><br>
                <a href="#" style="color: blue;">Türkçe</a>
    
                  <br><br><br>
    
                <h2>Information</h2>
                <a href="forReaders.html" style="color: blue;">For Readers</a><br><br>
                <a href="#" style="color: blue;">For Authors</a><br><br>
                <a href="#" style="color: blue;">For Libraians</a>
    
            </div>
    
    
            </div>
        </div>
    </div>
     <br><br><br><br>
    <div class="sabit-bolge">
        <div class="arka-plan">
            <div class="logo">
                <img src="/general/assets/img/ojs_brand.png" alt="Logo">
            </div>
        </div>
    </div>

     <!-- Bootstrap core JS-->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
     <!-- Core theme JS-->
     <script src="js/scripts.js"></script>
    
</body>
</html>