<br><br>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                 <h3>Editorial Team</h3>
                <strong>Publisher: Karabük University (Karabük / TÜRKİYE)</strong>
                <br><br>
                <strong>Editors in Chief</strong>
                <ul>
                    <li>Dr. Burhan SELÇUK (Karabük University, TÜRKİYE)</li>
                    <li>Dr. Hakan KUTUCU (Karabük University, TÜRKİYE)</li>
                </ul>
                <br>
            
                <strong>Associate Editor</strong>
                <ul>
                    <li>Dr. Omar DAKKAK (Karabük University, TÜRKİYE)</li>
                </ul>
                <br>
            
                <strong>Managing Editors</strong>
                <ul>
                    <li>Dr. Sait DEMİR (Karabük University, TÜRKİYE)</li>
                    <li>Dr. Kürşat Mustafa KARAOĞLAN (Karabük University, TÜRKİYE)</li>
                </ul> 
                <br>
            
                <strong>Language Editor</strong>
                <ul>
                    <li>Dr. Kasım ÖZACAR (Karabük University, TÜRKİYE)</li>
                </ul>
                   <br>
                <strong>Journal Secretary</strong>
                <ul>
                    <li>Res. Asist. Ayşe Nur Altıntaş TANKÜL (Karabük University, TÜRKİYE)</li>
                </ul>
                  <br>
                <strong>Area Editors</strong>
                <ul>
                    <li>Dr. Ivan IZONIN, (Lviv Polytechnic National University, UKRAINE)</li>
                    <li>Dr. Ibrahima DIARRASSOUBA, (Le Havre University, FRANCE)</li>
                    <li>Dr. Ümit ATİLA (Gazi University, TÜRKİYE)</li>
                    <li>Dr. Okan ERKAYMAZ (National Defense University, TÜRKİYE)</li>
                    <li>Dr. İlyas ÖZER (Bandırma Onyedi Eylül University, TÜRKİYE)</li>
                    <li>Dr. Kemal AKYOL (Kastamonu University, TÜRKİYE)</li>
                    <li>Dr. Şadi ŞEHAB (THK University, TÜRKİYE)</li>
                    <li>Dr. Abdülkadir TAŞDELEN (Ankara Yıldırım Beyazıt University, TÜRKİYE)</li>
                    <li>Dr. Erdal ÖZBAY (Fırat University, TÜRKİYE)</li>
                    <li>Dr. Ayşe Erdoğan YILDIRIM (Fırat University, TÜRKİYE)</li>
                    <li>Dr. Ahmet KARADOĞAN (İnönü University, TÜRKİYE)</li>
                    <li>Dr. Ferhat ATASOY (Karabük University, TÜRKİYE)</li>
                    <li>Dr. Oğuzhan MENEMENCİOĞLU (Karabük University, TÜRKİYE)</li>
                    <li>Dr. Yasin ORTAKÇI (Karabük University, TÜRKİYE)</li>
                    <li>Dr. Mehmet Zahid YILDIRIM (Karabük University, TÜRKİYE)</li>
                </ul>
                <br>
            
                <strong>Advisory Board</strong>
                <ul>
                    <li>Dr. Ali KARCI (İnönü University, TÜRKİYE)</li>
                    <li>Dr. Ergin YILMAZ (Bülent Ecevit University, TÜRKİYE)</li>
                    <li>Dr. Oğuz FINDIK (Karabük University, TÜRKİYE)</li>
                    <li>Dr. İsmail Rakıp KARAŞ (Karabük University, TÜRKİYE)</li>
                    <li>Dr. İlker TÜRKER (Karabük University, TÜRKİYE)</li>
                    <li>Dr. Muhammed Kamil TURAN (Karabük University, TÜRKİYE)</li>
                </ul>


                <br>



            </div>
        </div>
    </div>

    <br><br><br>





    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="right">
                    <h2>Language</h2>
                    <a href="#" style="color:blue;">English</a><br><br>
                    <a href="#" style="color: blue;">Türkçe</a>

                    <br><br><br>

                    <h2>Information</h2>
                    <a href="forReaders.html" style="color: blue;">For Readers</a><br><br>
                    <a href="#" style="color: blue;">For Authors</a><br><br>
                    <a href="#" style="color: blue;">For Libraians</a>

                </div>


            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="sabit-bolge">
        <div class="arka-plan">
            <div class="logo">
                <img src="/general/assets/img/ojs_brand.png" alt="Logo">
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/general/js/scripts.js"></script>

</body>

</html>