
          
         <div class="login-form">
          <h2>Login</h2>
          <% if (locals.validation_error != undefined || locals.success_message != undefined || locals.login_error != undefined) { %>
            <%- include('../../partials/_mesaj') %> 
         <% } %>
          <form action="login.php" method="POST">
              <label for="username">Username:</label>
              <input type="text" id="username" name="username" required>
      
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required>
      
              <a href="forgot_password.html">Forgot your password?</a>
      
              <div class="remember-me">
                  <input type="checkbox" id="keep-logged-in" name="keep-logged-in">
                  <label for="keep-logged-in">Keep me logged in</label>
              </div>
      
              
          </form>
      
          <div class="register-login-links">
              <a href="/register">Register</a>
              <button type="submit">Login</button>
          </div>
      </div>
      
      
  
  
      <div class="container px-4 px-lg-5">
          <div class="row gx-4 gx-lg-5 justify-content-center">
              <div class="col-md-10 col-lg-8 col-xl-7">
                 
                  <div class="right">
                  <h2>Language</h2>
                  <a href="#" style="color:blue;">English</a><br><br>
                  <a href="#" style="color: blue;">Türkçe</a>
      
                    <br><br><br>
      
                  <h2>Information</h2>
                  <a href="/forReaders" style="color: blue;">For Readers</a><br><br>
                  <a href="#" style="color: blue;">For Authors</a><br><br>
                  <a href="#" style="color: blue;">For Libraians</a>
      
              </div>
      
      
              </div>
          </div>
      </div>
       <br><br><br><br>
      <div class="sabit-bolge">
          <div class="arka-plan">
              <div class="logo">
                  <img src="/general/assets/img/ojs_brand.png" alt="Logo">
              </div>
          </div>
      </div>
  
       <!-- Bootstrap core JS-->
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
       <!-- Core theme JS-->
       <script src="/general/js/scripts.js"></script>
      
  </body>
  </html>