<br><br>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <h1 class="post-title">Submission</h1>
                <br>

                <div class="submission-frame">
                    <div class="submission-content">
                        <p><a href="/login" style="color: blue;">Login</a> or <a href="/register"
                                style="color: blue;">Register</a> to make a submission.</p>
                    </div>
                </div>




                <div class="checklist-frame">
                    <h2>Submission Preparation Checklist</h2>
                    <p>As part of the submission process, authors are required to check off their submission's
                        compliance with all of the following items, and submissions may be returned to authors that do
                        not adhere to these guidelines.</p>
                    <div class="checklist-content">
                        <div class="checklist-item">
                            <span class="check-mark">&#10004;</span> The submission has not been previously published,
                            nor is it before another journal for consideration (or an explanation has been provided in
                            Comments to the Editor).
                        </div>
                        <div class="checklist-item">
                            <span class="check-mark">&#10004;</span> The submission file is prepared in LaTex. It is
                            strongly recommended to prepare your manuscript using CTC template in LaTex. Manuscript must
                            be submitted in PDF format.
                        </div>
                        <div class="checklist-item">
                            <span class="check-mark">&#10004;</span> Where available, URLs for the references have been
                            provided.
                        </div>
                        <div class="checklist-item">
                            <span class="check-mark">&#10004;</span> The text is single-spaced; uses a 12-point font;
                            employs italics, rather than underlining (except with URL addresses); and all illustrations,
                            figures, and tables are placed within the text at the appropriate points, rather than at the
                            end.
                        </div>
                        <div class="checklist-item">
                            <span class "check-mark">&#10004;</span> The text adheres to the stylistic and bibliographic
                            requirements outlined in the Author Guidelines.
                        </div>
                        <div class="checklist-item">
                            <span class="check-mark">&#10004;</span> The submission is original.
                        </div>
                        <div class="checklist-item">
                            <span class="check-mark">&#10004;</span> A section editor from our Editorial Board related
                            to your submission must be assigned. Please put the name of your suggested editor into the
                            "COMMENTS FOR THE EDITOR."
                        </div>
                    </div>
                </div>
                <br><br><br><br>



            </div>
        </div>
    </div>


    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="author-guidelines">
                    <h2>Author Guidelines</h2>
                    <p>Current Trends in Computing (CTC) is on rapidly developing techniques and methods in the area of
                        computer science.</p>
                    <ol>
                        <li><strong>Types of papers</strong></li>
                        <p>Full-length research articles and Reviews.</p>
                        <li><strong>Languages</strong></li>
                        <p>The submitted manuscript can be either in English language.</p>
                        <li><strong>Peer review and suggesting reviewers</strong></li>
                        <p>Manuscripts deemed suitable are then typically sent to a minimum of two independent expert
                            reviewers to assess the scientific quality of the paper. The Editor is responsible for the
                            final decision regarding acceptance or rejection of articles. The Editor's decision is
                            final. Editors are not involved in decisions about papers which they have written
                            themselves. Kindly submit at least two names and institutional e-mail addresses of several
                            potential reviewers.</p>
                        <li><strong>Submission</strong></li>
                        <p>Manuscripts have to be submitted via <a href="ctc.karabuk.edu.tr">ctc.karabuk.edu.tr</a>.
                            Corresponding Author is required to create an account. For information about creating
                            account, click <a href="account-info.html">here</a>.</p>
                        <li><strong>Open access policy</strong></li>
                        <p>Papers published in CTC will be freely available directly after camera ready.</p>
                        <li><strong>Article Publication Charge (APC)</strong></li>
                        <p>There is no publication charge for submitting and publishing manuscripts in CTC.</p>
                        <li><strong>Article structure</strong></li>
                    </ol>




                </div>


                <div class="article-structure">

                    <ul>
                        <li>
                            <strong>Title of Manuscript:</strong> The title has to present the topic of the paper
                            clearly.
                        </li>
                        <li>
                            <strong>Abstract:</strong> For summarizing the paper. Healthy abstract should contain
                            background/importance of research topic, purpose/hypothesis, design/methodology/approach
                            including procedures/data/observations, findings, and conclusions.
                        </li>
                        <li>
                            <strong>Introduction:</strong> State the objectives of the work and provide an adequate
                            background, avoiding a detailed literature survey or a summary of the results.
                        </li>
                        <li>
                            <strong>Related Works (Optional):</strong> In this section, previous studies conducted in
                            the state of the art have to be reviewed.
                        </li>
                        <li>
                            <strong>Materials and Methods/Methodology/Proposed Work:</strong> This section includes the
                            new methodology/methodology applied/proposed work.
                        </li>
                        <li>
                            <strong>Results and Discussion:</strong> This section demonstrates the findings and provides
                            analytical discussion.
                        </li>
                        <li>
                            <strong>Conclusion(s) (and Future Work/Optional):</strong> This section concludes the paper
                            and highlights the contributions of the conducted study and sets the direction of the Future
                            Work (Optional).
                        </li>
                        <li>
                            <strong>References:</strong> Relevant references have to be cited. You should follow the
                            examples provided for correct citation.
                        </li>
                    </ul>


                    <ol>
                        <li>For article: O. Dxxx, Title of Paper, Journal Name, Vol.x, N.y, pp.Aa-Bb (Year).</li>
                        <li>For book: J. Axxx, Book Name, Xxxx Press, City, (Year).</li>
                        <li>For conference: L.M. xxx and D. Pxxx, Title of Presentation, Conference Name, Location,
                            (Year).</li>
                        <li>For thesis: F. Txxx, Title of Thesis. Ph.D. (or M.Sc.) Thesis. University Name, (Year).</li>
                    </ol>
                    <li>
                        <strong>Appendices (Optional):</strong> Source code, additional (results, figures, tables,
                        equations), etc.
                    </li>
                    <br><br>

                    <ol>
                        <strong>9. Submitting Checklist</strong>
                        <li>E-mail address for corresponding author.</li>
                        <li>Full affiliation address.</li>
                        <li>Keywords.</li>
                        <li>All figure in manuscript with captions.</li>
                        <li>All tables in manuscript with captions.</li>
                        <li>Manuscript has been "spellchecked" and "grammar-checked"</li>
                        <li>References are in the correct format for this journal</li>
                        <li>All references mentioned in the Reference list are cited in the text, and vice versa.</li>



                    </ol>

                    <a href="https://karabukedu-my.sharepoint.com/personal/ctc_karabuk_edu_tr/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fctc%5Fkarabuk%5Fedu%5Ftr%2FDocuments%2FCtc%2Etex&parent=%2Fpersonal%2Fctc%5Fkarabuk%5Fedu%5Ftr%2FDocuments&ga=1"
                        style="color: blue; text-decoration: underline;">Please click here to
                        access the Latex Journal Template</a>
                    <a href="https://karabukedu-my.sharepoint.com/:w:/g/personal/ctc_karabuk_edu_tr/Ed-M_3Zo_U1Gujes61H48mMBp4bZHHoISVP5qxoCaO-DJw?e=VoXhcS"
                        style="color: blue; text-decoration: underline;">Please click here to
                        access the Copyright Form</a>
                    <br><br>

                    <h4>Articles</h4>
                    <p>Section default policy</p>
                    <br>
                    <h4>Privacy Statement</h4>
                    <p>The names and email addresses entered in this journal site will be used exclusively for the
                        stated purposes of this journal and will not be made available for any other purpose or to any
                        other party.</p>

                </div>



            </div>
        </div>
    </div>



    <br><br><br>





    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="right">
                    <h2>Language</h2>
                    <a href="#" style="color:blue;">English</a><br><br>
                    <a href="#" style="color: blue;">Türkçe</a>

                    <br><br><br>

                    <h2>Information</h2>
                    <a href="forReaders.html" style="color: blue;">For Readers</a><br><br>
                    <a href="#" style="color: blue;">For Authors</a><br><br>
                    <a href="#" style="color: blue;">For Libraians</a>

                </div>


            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="sabit-bolge">
        <div class="arka-plan">
            <div class="logo">
                <img src="/general/assets/img/ojs_brand.png" alt="Logo">
            </div>
        </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/general/js/scripts.js"></script>

</body>

</html>