<!DOCTYPE html>
<html>
<body>
	
	<div class="container">
    
		<br>
		<br>
		<% if (locals.validation_error != undefined || locals.success_message != undefined || locals.login_error != undefined) { %>
		<%- include('../../partials/_mesaj') %> 
			<% } %>

		<!-- Firma Ekle Formu -->
		<div id="firmaEkle">
			<form action="/admin/sifreDegistir" method="post" enctype="application/x-www-form-urlencoded">
				<div class="form-group">
					<label for="firmaAdi">Eski Şifre:</label>
					<input name="oldPassword" type="password" class="form-control" id="firmaAdi">
				</div>
				<div class="form-group">
					<label for="firmaAdi">Yeni Şifre:</label>
					<input name="newPassword" type="password" class="form-control" id="firmaAdi"></input>
				</div>
				<div class="form-group">
					<label for="firmaAdi">Yeni Şifre Tekrar:</label>
					<input name="RenewPassword" type="password" class="form-control" id="firmaAdi"></input>
				</div>
				<button type="submit" class="btn btn-primary">Değiştir</button>
			</form>
		</div>
    </div>
  </div>
  
  <!-- jQuery ve Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <script>
    // Formu gösteren fonksiyon
    function formuGoster() {
      var secim = document.getElementById("secim").value;
      if (secim == "0") {
        document.getElementById("firmaEkle").style.display = "block";
        document.getElementById("kullaniciEkle").style.display = "none";
      } else {
        document.getElementById("kullaniciEkle").style.display = "block";
        document.getElementById("firmaEkle").style.display = "none";
      }
    }
  </script>
</body>
</html>  
          